<!DOCTYPE html>
<html lang="en">
  <head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}
    {% endblock %}
    <title>
      {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <style>
      
    </style>
  </head>
  <body>
    <div class="ttt-wrapper">
      <div class="ttt-notice-board">
        <p>X Player's turn</p>
      </div>
      <div class="ttt-container">
        {% for i in range(9) %}
          <div class="ttt-major3x3">
            {% for j in range(9) %}
              <div class="ttt-minor">
                <img src="#"/>
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
      <div class="ttt-btn-panel">
        <button class="ttt-btn ttt-restart-btn">Restart</button>
        <button class="ttt-btn ttt-quit-btn">Quit</button>
      </div>
    </div>
  </body>
</html>
