.idx-experience-cardview {
    width: 100%;
    display: flex;
    flex-direction: row;
    row-gap: 8px;
    column-gap: 6px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.idx-experience-cardview > div {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 299px;
}

@media only screen and (min-width: 700px) {
    .idx-experience-cardview > div {
    }
}
