.idx-cv-link:link, .idx-cv-link:visited {
    color: #c95e3c;
}
.idx-cv-link:active {
    color: #4e3a2f;
}

.idx-experience-cardview {
    width: 100%;
    display: flex;
    flex-direction: row;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.idx-experience-cardview > div {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 299px;
}

@media screen and (min-width: 700px) {
    .idx-experience-cardview {
        column-gap: 1rem;
        row-gap: 1rem;
    }
}

@media only screen and (min-width: 1400px) {
    .idx-experience-cardview > div {
        flex-basis: 450px;
    }
}
