/*
    Royal Albert Hall:
        bejevy: F2DDB4
        dark-gray: 95A1A0;
        silver: E6E6E3;
        dark brown: 4E3A2F;
        albhal-crimson: C95E3C;
*/

* {
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
    color: #4e3a2f;
    font-size: 16px;
    font-family: Arial;
}

body {
    padding: 0;
    margin: 0;
    background: #f2ddb4;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #95a1a0;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #c95e3c;
}

.clr1-block {
    background: #c95e3c;
    color: #f2ddb4;
}

header {
    padding: 2rem;
    color: #f2ddb4;
    background: #C95E3C; 
}

.base-main-image {
    width: 262px;
    height: 262px;
    background: #95A1A0;
    padding: 3px;
    border: 3px solid #f2ddb4;

}

.base-tulpi {
    width: 100%;
}

nav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    background: #4e3a2f;
    border-bottom: 2px solid #95A1A0;
}

.base-title-holder {
    border: 4px solid #e3e3e6;
    padding: 0 1rem;    
}

h1 {
    color: #e3e3e6;
}

.base-home-link {
    border: 4px #c95e3c solid;
    font-size: 1.2rem;
    padding: 0.75rem;
    width: 6rem;
    text-align: center;
}

.clr2-accent {
    background: #e6e6e3;
}

.separator-v {
    background: #e6e6e3;
    width: 4px;
}

.separator-h {
    height: 0.5rem;
    background: #95a1a0;
}

.base-content-wrapper {
    padding: 4px;
}

h2 {
}

footer {
    background: #4e3a2f;
    color: #e6e6e3;
    padding: 1rem;
    padding-bottom: 4rem;
}

@media screen and (min-width: 900px) {
    .base-content-wrapper {
        padding: 2%;
    }
}
