/*
    Light-Green white: #f5eec2
    Dark-Green bars: #416a59
    Dark-Blue complement: #39395f
    Nice-Saturated green: #73a24e
    Lighter-Nice green: #a9c25d

    Coral counter: #F69770

    Royal Albert Hall:
        bejevy: F2DDB4
        dark-gray: 95A1A0;
        silver: E6E6E3;
        dark brown: 4E3A2F;
        albhal-crimson: C95E3C;
*/

* {
    box-sizing: border-box;
}

html {
    color: #4e3a2f;
    font-size: 16px;
    font-family: Arial;
}

body {
    margin: 0;
    background: #f2ddb4;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #95a1a0;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #c95e3c;
}

.clr1-block {
    background: #c95e3c;
    color: #f2ddb4;
}

header {
    display: flex;
    flex-direction: row;
}

.base-home-link {
    border: 4px #c95e3c solid;
    font-size: 1.2rem;
    padding: 0.75rem;
    width: 6rem;
    text-align: center;
}

.clr2-accent {
    background: #e6e6e3;
}

.separator-v {
    background: #e6e6e3;
    width: 4px;
}

.separator-h {
    height: 0.5rem;
    background: #95a1a0;
}

.base-content-wrapper {
    padding: 4px;
}
