<div class="sat-meng-project-title-header">
    <div class="sat-meng-title-img-wrap">
        <img class="proj-logo-img sat-meng-project-logo sat-meng-title-img" src="/static/assets/satprotocol_online_logo.png">
    </div>
</div>
<div class="sat-meng-subheaders">
    <div class="sat-meng-ahd-subheader">
        <div class="sat-meng-img-wrap">
            <a href="https://humandevelopment.doc.ic.ac.uk/">
                <img class="sat-meng-ahd-logo sat-meng-img idx-levitating-box" src="/static/assets/algorithmic_human_development_logo.png" />
            </a>
        </div>
    </div>
    <div class="sat-meng-imperial-subheader">
        <div class="sat-meng-img-wrap">
            <a href="https://www.imperial.ac.uk/">
                <img class="sat-meng-imperial-logo sat-meng-img idx-levitating-box" src="/static/assets/imperial_logo_new.webp" />
            </a>
        </div>
    </div>
</div>