<!-- <div class="sat-meng-project-title-header">
    <div class="sat-meng-title-fit">
        Interacting with Your Childhood-Self:<br>
        A Web-Based Platform for<br>
        Self-Attachment Technique (SAT)
    </div>
</div> -->
<div class="sat-meng-subheaders">
    <div class="sat-meng-ahd-subheader">
        <div class="sat-meng-img-wrap">
            <img class="sat-meng-ahd-logo" src="/static/assets/algorithmic_human_development_logo.png" />
        </div>
    </div>
    <div class="sat-meng-imperial-subheader">
        <div class="sat-meng-img-wrap">
            <img class="sat-meng-imperial-logo" src="/static/assets/imperial_logo_new.webp" />
        </div>
    </div>
</div>