<div class="sat-meng-project-title-header">
    <div class="sat-meng-img-wrap">
        <img class="proj-logo-img sat-meng-project-logo" src="/static/assets/satprotocol_online_logo.svg">
    </div>
</div>
<div class="sat-meng-subheaders">
    <div class="sat-meng-ahd-subheader">
        <div class="sat-meng-img-wrap">
            <img class="sat-meng-ahd-logo" src="/static/assets/algorithmic_human_development_logo.png" />
        </div>
    </div>
    <div class="sat-meng-imperial-subheader">
        <div class="sat-meng-img-wrap">
            <img class="sat-meng-imperial-logo" src="/static/assets/imperial_logo_new.webp" />
        </div>
    </div>
</div>