{% extends 'base.html' %}

{% block title %}
  SatProtocol.online
{% endblock %}

{% block meta %}
  <!-- <meta property="og:url" content="http://andreypopov.xyz/scaling-extreme-startup" />
  <meta property="og:title" content="Scaling Extreme Startup"/>
  <meta name="author" content="Andrey Popov"/>
  <meta 
    property="og:image"
    content="{{ 
      url_for(
        'static',
        filename='assets/articles/scaling_extreme_startup/homepage-screenshot-wide.png'
      ) 
    }}"
  /> -->
  <!--+          Visibility hint for meta description :)
   \   \
    \   \
     \   \
      ++-->
  <!-- <meta property="og:description" 
    content="Extreme Startup is a coding exercise game created by Robert Chatley. It is used in software engineering workshops, and the main goal of such games is to encourage developers to use CI/CD by showing the benefits of quick-release iterations." /> -->
     <!--+
    /   /
   /   /
  /   /
 ++-->
{% endblock %}

{% block style %}
  <link 
    rel="stylesheet" 
    href="{{ url_for('static', filename='articles/sat_protocol_online.css') }}"
  />
  <link 
    rel="stylesheet" 
    href="{{ url_for('static', filename='articles/sat_meng_pres.css') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='experiences/abstract_project.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='experiences/sat_meng.css') }}"/>
{% endblock %}

{% block header %}

  <div class="sat-post-overview-section">
    <h1>
      Sat Protocol online
    </h1>
    <p>
      Welcome to the overview article about the Sat Protocol online platform.
      Andrey Popov's view on the project.
      Feel free to contact me with feedback, including edit suggestions and other improvements.
    </p>
  </div>
  <div id="sat-post-card-wrapper">
    {% include 'experiences/sat_meng.html' %}
  </div>
  <div class="sat-post-block sat-post-intro">
    <h2>
        Interacting with Your Childhood-Self:<br>
        A Web-Based Platform for<br>
        Self-Attachment Technique (SAT)
    </h2>
    <p>
      Academic Project At Imperial College London. Andrey Popov's Master of Engineering Project.
    </p>
    <h3>
      Project Supervisor
    </h3>
    <div class="sat-post-acknowledgement-row">
      <span>
        Professor Abbas Edalat
      </span>
      <!-- <a class="sat-post-link" href="http://chatley.com/">
        Website-1
      </a>
      <a class="sat-post-link" href="https://www.doc.ic.ac.uk/~rbc/">
        Website-2
      </a> -->
    </div>
    <h3>
      Project Author
    </h3>
    <div class="sat-post-acknowledgement-row">
      <span>
        Andrey Popov (Me)
      </span>
    </div>
  </div>

{% endblock %}

{% block content %}
  
  <div class="sat-pres-root">
    {% include 'articles/imperial/sat/sat_pres.html' %}
  </div>
  <p>
    Thanks for reading the article.
    <a href="/">
      Return to the home page
    </a>
  </p>
{% endblock %}
