.base-content-wrapper {
    padding: 1rem;
}
.ses-article-root {
    color: #2a324b;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 1rem;
}

.ses-hidden {
    visibility: hidden;
}

.ses-img {
    max-width: 100%;
}

.ses-image-description {
   padding-top: 0.3rem;
   padding-left: 2rem;
   padding-right: 2rem;
   font-size: 0.85rem;
   text-align: center;
}

#ses-card-wrapper {
    border: none;
    padding: 0;
}

.ses-article-root > div, header > div {
    color: #2a324b;
    text-align: justify;
    background: #f1f4f3;
    border: 2px solid #2a324b;
    padding: 1rem;

    flex-grow: 1;
}



@media only screen and (min-width: 699px) {    
    header > div, .ses-article-root > div {
        font-size: 1.1rem;
    }
    .ses-intro {
    }
    .ses-extreme-extension {
    }
    .ses-extreme-monolith {
    }
    .ses-extreme-scaling {
    }
    .ses-my-extreme-contributions {
    }
    .ses-article-root > div {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}        
@media only screen and (min-width: 1080px) {    
    .ses-article-root > div {
        font-size: 1.2rem;
    }
    .ses-intro {
    }
    .ses-extreme-extension {
    }
    .ses-extreme-monolith {
    }
    .ses-extreme-scaling {
    }
    .ses-my-extreme-contributions {
    }
    .extreme-acknowledgements {
    }
    .ses-article-root > div {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

.ses-highlight {
    color: #da627d;
}

.ses-link:link, .ses-link:visited {
    color: #da627d;
}
.ses-startup-link:hover {
    text-decoration: underline;
}


.ses-intro > * {
    text-align: left;
}

header > div > h1, .ses-artile-root > div > h2, .ses-artile-root > div > h3 {
    color: #2a324b;
}

h1, h2, h3, h4 {
    text-align: left;
}

.ses-card-include > div {
    text-align: left;
}


@media only screen and (min-width: 570px) {
    header > div {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 500px;
    }
    /*
    header {
        padding: 1rem 0.5rem;
        row-gap: 0.5rem;
        column-gap: 0.5rem;
    }
    */
    .ses-overview-section {
        text-align: left;
        flex-basis: 200px;
    }

    .ses-extreme-startup-section {
    }
}

@media only screen and (max-width: 400px) {
    .base-content-wrapper, header {
        padding: 0.6rem;
        row-gap: 0.6rem;
        column-gap: 0.6rem;
    }
}

.ses-column {
    flex-grow: 1;
}

.ses-columns-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 3rem;
}

@media only screen and (min-width: 800px) {    
    .ses-column {
        flex-basis: 45%;
    }
}
