<div class="exp-root {{ experience.class_prefix }}-root">
  <div class="exp-header {{ experience.class_prefix }}-header">
    <div class="exp-logo-wrapper {{ experience.class_prefix }}-logo-wrapper">
      <a href="{{ experience.reference_url  }}">
        <img 
          class="exp-logo-image {{ experience.class_prefix }}-logo-image" 
          src="{{ experience.logo_path }}"
        />
      </a>
    </div>
    <div class="exp-role-title {{ experience.class_prefix }}-role-title">
      <h3>
        <span>{{ experience.title.prefix|safe }}</span>
        <span class="exp-highlight-text {{ experience.class_prefix }}-highlight-text">{{ experience.title.highlight|safe }}</span>
      </h3>
    </div>
    <div class="exp-dates {{ experience.class_prefix }}-dates">
      <div class="exp-dates-part {{ experience.class_prefix }}-dates-part">
        <strong>
          {{ experience.duration|safe }}
        </strong>
      </div>
      <div class="exp-dates-part exp-lowlight-text {{ experience.class_prefix }}-dates-part {{ experience.class_prefix }}-lowlight-text">
        {{ experience.start_date|safe }}
      </div>
      <div class="exp-dates-part exp-lowlight-text {{ experience.class_prefix }}-dates-part {{ experience.class_prefix }}-lowlight-text">
        {{ experience.end_date|safe }}
      </div>
    </div>
  </div>
  <div class="exp-content {{ experience.class_prefix }}-content">
    <div class="exp-responsibilities {{ experience.class_prefix }}-repsonsiblities">
      <ul class="exp-responsibiliries-list {{ experience.class_prefix }}-responsibilities-list">
        {% for responsibility_item in experience.responsibilities %}
          <li class="exp-responsibility-item {{ experience.class_prefix }}-responsibility-item">
            {{ responsibility_item }} 
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="exp-impressions {{ experience.class_prefix }}-impressions">
      <!--
      <p>
        Todo: write down.
      </p>
      -->
    </div>
    <div class="exp-links {{ experience.class_prefix }}-links">
      
    </div>
  </div>
  <div class="exp-footer {{ experience.class_prefix }}-footer">
  </div>
</div>
