<div class="proj-root {{ project.class_prefix }}-root">
  <div class="proj-header {{ project.class_prefix }}-header">
    {% if project.logo_url %}
      <img class="proj-logo-img {{ project.class_prefix }}-logo-img"/>
    {% elif project.logo_substitute %}
      {{ project.logo_substitute|safe }}
    {% else %}
      <div style="text-align: center; padding: 1rem;">
        Pet Project
      </div>
    {% endif %}
  </div>
  <div class="proj-subheader {{ project.class_prefix }}-subheader">
    <div class="proj-title-wrapper {{ project.class_prefix }}-title-wrapper">
      <h3>
        {{ project.title|safe }}
      </h3>
    </div>
    <div class="proj-status-wrapper {{ project.class_prefix }}-status-wrapper">
      <h4>
        <strong>
          {{ project.status }}
        </strong>
      </h4>
    </div>
    {% if project.dates.display_anyway  %}
      <div class="proj-dates {{ project.class_prefix }}-dates">
        <div>
          {{ project.dates.since }}
        </div>
        <div>
          {{ project.dates.until }}
        </div>
      </div>
    {% endif %}
  </div>
  <div class="proj-content {{ project.class_prefix }}-content">
    <div class="proj-interesting-things {{ project.class_prefix }}-interesting-things">
      <ul>
        <li>
          View
          <a class="{{ project.class_prefix }}-link" href="{{ project.repo_link }}">
            Source code repository
          </a>
        </li>
        {% for interesting_thing in project.interesting_things %}
          <li>
            {{ interesting_thing }}
          </li>
        {% endfor %}
      </ul>
    </div>
    {% if project.custom_content %}
      <div class="proj-custom-content">
        {{ project.custom_content|safe }}
      </div>
    {% endif %}
    <div class="proj-keywords {{ project.class_prefix }}-keywords">
      {% for keyword in project.keywords %}
         <span class="proj-keyword {{ project.class_prefix }}-keyword">
           #{{ keyword }}
         </span>
      {% endfor %}
    </div>
  </div>
  <div class="proj-footer {{ project.class_prefix }}-footer">
    <!--fill-->
  </div>
</div>
