<div class="exp-root imperial-root">
  <div class="exp-header imperial-header">
    <div class="exp-logo-wrapper imperial-logo-wrapper">
      <a href="https://www.imperial.ac.uk/">
        <img 
          class="exp-logo-image imperial-logo-image" 
          src="{{ url_for('static', filename='assets/imperial_logo.svg') }}"
        />
      </a>
    </div>
    <div class="exp-role-title imperial-role-title">
      <h3>
        <span>PPT - Undergraduate</span>
        <span class="exp-highlihght-text imperial-highight-text">Teaching Assistant</span>
      </h3>
    </div>
    <div class="exp-dates imperial-dates">
      <div class="exp-dates-part imperial-dates-part">
        <strong>
          6 mos
        </strong>
      </div>
      <div class="exp-dates-part exp-lowlight-text imperial-dates-part imperial-lowlight-text">
        03/10/2022
      </div>
      <div class="exp-dates-part exp-lowlight-text imperial-dates-part imperial-lowlight-text">
        20/03/2023
      </div>
    </div>
  </div>
  <div class="exp-content imperial-content">
    <div class="exp-responsibilities imperial-repsonsiblities">
      <ul class="exp-responsibiliries-list imperial-responsibilities-list">
        <li class="exp-responsibility-item imperial-responsibility-item">
          Worked as a Personal Programming Tutor and provided teaching support
        </li>
        <li class="exp-responsibility-item imperial-responsibility-item">
          Tutored Java, Kotlin and Haskell for the assigned group of first year students
        </li>
        <li class="exp-responsibility-item imperial-responsibility-item">
          Conducted Question-Answer seminars and revision sessions
        </li>
        <li class="exp-responsibility-item imperial-responsibility-item">
          Reviewed and marked students’ work and provided constructive feedback
        </li>
      </ul>
    </div>
    <div class="exp-impressions imperial-impressions">
      <!--
      <p>
        Todo: write down.
      </p>
      -->
    </div>
    <div class="exp-links imperial-links">
      
    </div>
  </div>
  <div class="exp-footer imperial-footer">
  </div>
</div>
