<div class="mmx-root">
  <div class="mmx-header">
    <div class="mmx-logo-wrapper">
      <img class="mmx-logo-image" src="{{ url_for('static', filename='assets/mmx_logo_white.svg') }}"/>
      <!--
        TODO: Wrap Minimax with anchor leading to their website.
      <a href="https://www.minimaxlabs.com/">
      </a>
      -->
    </div>
    <div class="mmx-role-title exp-role-title">
      <h3>
        <span>Software Engineering</span>
        <span class="mmx-green-text">Intern</span>
      </h3>
    </div>
    <div class="mmx-dates">
      <div class="mmx-dates-part">
        <strong>
          6 mos
        </strong>
      </div>
      <div class="mmx-dates-part mmx-green-text">
        4/04/2023
      </div>
      <div class="mmx-dates-part mmx-green-text">
        29/09/2023
      </div>
    </div>
  </div>
  <div class="mmx-content">
    <div class="mmx-repsonsiblities">
      <ul class="mmx-responsibilities-list">
        <li class="mmx-responsibility-item">
          Developed Eclipse Desktop Application
          using the Java programming language
        </li>
        <li class="mmx-responsibility-item">
          Created new views/reports/tools for
          LNG optimization as well as maintained 
          existing ones
        </li>
        <li class="mmx-responsibility-item">
          Acquired experience with EMF framework
        </li>
        <li class="mmx-responsibility-item">
          Made a brand new company website
          with HTML/CSS/JS
        </li>
      </ul>
    </div>
    <div class="mmx-impressions">
      <!--
      <p>
        Todo: write down.
      </p>
      -->
    </div>
    <div class="mmx-links">
      
    </div>
  </div>
  <div class="mmx-footer">
  </div>
</div>
