<div class="exp-root mmx-root">
  <div class="exp-header mmx-header">
    <div class="exp-logo-wrapper mmx-logo-wrapper">
      <a href="https://www.minimaxlabs.com/">
        <img 
          class="exp-logo-image mmx-logo-image" 
          src="{{ url_for('static', filename='assets/mmx_logo_white.svg') }}"
        />
      </a>
    </div>
    <div class="exp-role-title mmx-role-title">
      <h3>
        <span>Software Engineering</span>
        <span class="exp-highlight-text mmx-highlight-text">Intern</span>
      </h3>
    </div>
    <div class="exp-dates mmx-dates">
      <div class="exp-dates-part mmx-dates-part">
        <strong>
          6 mos
        </strong>
      </div>
      <div class="exp-dates-part exp-lowlight-text mmx-dates-part mmx-lowlight-text">
        04/04/2023
      </div>
      <div class="exp-dates-part exp-lowlight-text mmx-dates-part mmx-lowlight-text">
        29/09/2023
      </div>
    </div>
  </div>
  <div class="exp-content mmx-content">
    <div class="exp-responsibilities mmx-repsonsiblities">
      <ul class="exp-responsibiliries-list mmx-responsibilities-list">
        <li class="exp-responsibility-item mmx-responsibility-item">
          Developed Eclipse Desktop Application
          using the Java programming language
        </li>
        <li class="exp-responsibility-item mmx-responsibility-item">
          Created new views/reports/tools for
          LNG optimization as well as maintained 
          existing ones
        </li>
        <li class="exp-responsibility-item mmx-responsibility-item">
          Acquired experience with EMF framework
        </li>
        <li class="exp-responsibility-item mmx-responsibility-item">
          Made a brand new company website
          with HTML/CSS/JS
        </li>
      </ul>
    </div>
    <div class="exp-impressions mmx-impressions">
      <!--
      <p>
        Todo: write down.
      </p>
      -->
    </div>
    <div class="exp-links mmx-links">
      
    </div>
  </div>
  <div class="exp-links mmx-footer">
  </div>
</div>
