<div class="mmx-root">
  <div class="mmx-header">
    <div class="mmx-logo-wrapper">
      <img src="{{ url_for('static', filename='assets/mmx_logo.svg') }}"/>
    </div>
    <div class="mmx-role-title exp-role-title">
      <h3>Software Engineering Intern</h3>
    </div>
    <div class="mmx-dates">
      <div class="mmx-dates-part">
        6 Months
      </div>
      <div class="mmx-dates-part">
        from 4th April 2023
      </div>
      <div class="mmx-dates-part">
        to 29th September 2023
      </div>
    </div>
  </div>
  <div class="mmx-content">
    <div class="mmx-repsonsiblities">
      <ul class="mmx-responsibilities-list">
        <li class="mmx-responsibility-item">
          Developed Eclipse Desktop Application
          using the Java programming language
        </li>
        <li class="mmx-responsibility-item">
          Created new views/reports/tools for
          LNG optimization as well as maintained 
          existing ones
        </li>
        <li class="mmx-responsibility-item">
          Acquired experience with EMF framework
        </li>
        <li class="mmx-responsibility-item">
          Made a brand new company website
          with HTML/CSS/JS
        </li>
      </ul>
    </div>
    <div class="mmx-impressions">
      <p>
        ... todo todo todo to do lorem ipsum
      </p>
    </div>
  </div>
  <div class="mmx-footer">
  </div>
</div>
