<div class="exp-root repetitor-root">
  <div class="exp-header repetitor-header">
    <div class="exp-logo-wrapper repetitor-logo-wrapper">
      <a href=
        "https://repetitor.ru/view/repetitor-po-programmirovaniyu-popov-andrej-konstantinovich-66939"
      ><!---->
        <img 
          class="exp-logo-image repetitor-logo-image"
          src="{{ url_for('static', filename='assets/repetitor_ru_mylogo.svg') }}"
        />
      </a>
    </div>
    <div class="exp-role-title repetitor-role-title">
      <h3>
        <span>Computer Science</span>
        <span class="exp-highlight-text repetitor-highlight-text">Tutor</span>
      </h3>
    </div>
    <div class="exp-dates repetitor-dates">
      <div class="exp-dates-part repetitor-dates-part">
        <strong>
          3 mos
        </strong>
      </div>
      <div class="exp-dates-part exp-lowlight-text repetitor-dates-part repetitor-lowlight-text">
        03/07/2022
      </div>
      <div class="exp-dates-part exp-lowlight-text repetitor-dates-part repetitor-lowlight-text">
        01/10/2022
      </div>
    </div>
  </div>
  <div class="exp-content repetitor-content">
    <div class="exp-responsibilities repetitor-repsonsiblities">
      <ul class="exp-responsibiliries-list repetitor-responsibilities-list">
        <li class="exp-responsibility-item repetitor-responsibility-item">
          Tutored Python, C/C++, and Java
        </li>
        <li class="exp-responsibility-item repetitor-responsibility-item">
          Guided beginners and intermediate level adults and kids
        </li>
        <li class="exp-responsibility-item repetitor-responsibility-item">
          Created lesson plans tailored to the personal requirements of each client
        </li>
        <li class="exp-responsibility-item repetitor-responsibility-item">
          Improved tutees’ academic performance and understanding of the subject
        </li>
      </ul>
    </div>
    <div class="exp-impressions repetitor-impressions">
      <!--
      <p>
        Todo: write down.
      </p>
      -->
    </div>
    <div class="exp-links repetitor-links">
      
    </div>
  </div>
  <div class="exp-links repetitor-footer">
  </div>
</div>
