<div class="webmin-header"> 
  <div class="webmin-main-image"></div>
  <div class="webmin-welcome-block"></div>
  <div class="webmin-about-block"></div>
</div>
  
<div class="webmin-nav"></div>
  
<div class="webmin-content-wrapper">
  <div class="webmin-row">
    <div class="webmin-block" style="color: blue;"></div>
    <div class="webmin-block" style="color: blue;"></div>
    <div class="webmin-block" style="color: blue;"></div>
  </div>
  <div class="webmin-row">
    <div class="webmin-block" style="color: blue;"></div>
    <div class="webmin-block" style="color: blue;">
      <!-- Begin Fractal -->
      
      

      <!-- End Fractal -->
    </div>
    <div class="webmin-block" style="color: blue;"></div>
  </div>
  <div class="webmin-row">
    <div class="webmin-block" style="color: blue;"></div>
    <div class="webmin-block" style="color: blue;"></div>
    <div class="webmin-block" style="color: blue;"></div>
  </div>
</div>
 
<div class="webmin-footer"></div>
