<div class="webmin-header"> 
  <div class="webmin-main-image"></div>
  <div class="webmin-welcome-block"></div>
  <div class="webmin-about-block"></div>
</div>
  
<div class="webmin-nav"></div>
  
<div class="webmin-content-wrapper">
  <div class="webmin-row">
    <div class="webmin-block" style="background: #fad35c;"></div>
    <div class="webmin-block" style="background: #A5D6A7;"></div>
    <div class="webmin-block" style="background: #84B1FB;"></div>
  </div>
  <div class="webmin-row">
    <div class="webmin-block" style="background: blue;"></div>
    <div class="webmin-block" style="background: blue;">
      <!-- Begin Fractal -->
      
      

      <!-- End Fractal -->
    </div>
    <div class="webmin-block" style="background: blue;"></div>
  </div>
  <div class="webmin-row">
    <div class="webmin-block" style="background: linear-gradient(
        90deg,
        #2a324b 0% 38.2%,
        #5f3d65 38.2% 61.8%,
        #da627d 61.8% 76.3294%,
        #453558 76.3294% 100%
    );"></div>
    <div class="webmin-block" style="background: linear-gradient(90deg, #666666 0% 38.2% , #878787 38.2% 100%)"></div>
    <div class="webmin-block" style="background: #ce93d8;"></div>
  </div>
</div>
 
<div class="webmin-footer"></div>
