.pintos-root {
    color: #570701;
    background: linear-gradient(90deg, #fab9b4, 1%, white, 81%, #fab9b4);
    border: 2px solid #570701;
}

.pintos-link:link, .pintos-link:visited {
    color: #570701;
    text-decoration: underline;
}
.pintos-link:hover {
    color: cyan;
}

.pintos-header {
    background: linear-gradient(#f75245 10%, #a81105);
    color: white;
}

.pintos-align-logo-sub {
}

.pintos-footer {
    background: #f78e86;
}

.pintos-subheader {
    background: #f78e86;
    border-bottom: none;
}

.pintos-title-wrapper {
    padding-left: 1rem;
    margin-right: 2rem;
}

.pintos-content {
}

.pintos-status {
}

.pintos-dates {
}

.pintos-dtes > div {
}

.pintos-keywords {
}

.pintos-keyword {
}

.pintos-download-apk, .pintos-youtube-demo-link {
}


