{% extends 'base.html' %}

{% block meta %}
  <!-- EDIT
  <meta property="og:url" content="http://andreypopov.xyz" />
  <meta property="og:title" content="Andrey Popov"/>
  <meta name="author" content="Andrey Popov"/>
  <meta property="og:image" content="{{ url_for('static', filename='assets/tulpi.jpg') }}"/>
  <meta 
    property="og:description" 
    content="My name is Andrey Popov. I am professional software engineer and experienced computer science tutor..."
  />
  -->
{% endblock %}

{% block title %}
  Andrey Popovi's Education
{% endblock %}

{% block style %}
{% endblock %}

{% block header %}
  <div class="base-welcome-block">
    <h2 class="base-welcome-title">
      Welcome To My Personal Platform
    </h2>
    <p class="base-welcome-text">
      My name is Andrey Popov.
      I am professional software engineer and experienced computer science tutor.
      Being an open person, I am sharing my experiences, success and failures in that website.
      Feel free to browse the information displayed.
    </p>
  </div>
  <div class="base-main-image">
    <img class="base-tulpi" src="{{ url_for('static', filename='assets/tulpi.jpg') }}"/>
  </div>
  <div class="base-about-block">
    <h2 class="base-about-title">
      About Me
    </h2>
    <p class="base-about-text">
      Motivated Software Engineer 
        in the fourth year of MEng Computing 
        at Imperial College London 
        on a target for a 2:1.
      Experienced in 
        software engineering in industry,
        personal tutoring,
        and many areas of computer science.
    </p>
  </div>
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
{% endblock %}

