#sat-post-card-wrapper {
    border: none;
    padding: 0;
}

.sat-post-article-root > div, header > div {
    color: #2a324b;
    text-align: justify;
    background: #f1f4f3;
    border: 2px solid #2a324b;
    padding: 1rem;

    flex-grow: 1;
}

.sat-pres-root {
    text-align: justify;
}