.exp-root {
    position: relative;
    background: white;
    color: black;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding-bottom: 1.5rem; /* Footer height */
}

.exp-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.exp-logo-wrapper {
    padding: 11px 19px;
    width: 100%;
}

.exp-role-title {
    padding-left: 1rem;
    width: 70%;
}

.exp-logo-image {
    width: 100%;
}

.exp-highlight-text {
    color: black;
}

.exp-lowlight-text {
    color: black;
}

.exp-dates {
    width: 30%;
    padding-right: 1rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1rem; 
    row-gap: 0.2rem;
    align-content: center;
    justify-content: right;

    font-size: 0.8rem;
}

.exp-content { 
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: black;
    padding: 1rem 1%;    
}

.exp-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1.5rem; /* so does padding/margin that will leave space for that absolute pos footer*/
    width: 100%;
    background: black;
}
