.andrey-popov-xyz-root {
    color: #3b4758;
    background: #f0dfb9;
    border: 2px solid #3b4758;
}

.andrey-popov-xyz-link:link, .andrey-popov-xyz-link:visited {
    color: #c95e3c;
}
.andrey-popov-xyz-link:hover {
    text-decoration: underline;
}

.andrey-popov-xyz-header {
    background: #C95E3C;
    color: white;
}

.andrey-popov-xyz-footer {
    background: #674743;
}

.andrey-popov-xyz-subheader {
    background: #54748c;
    color: #e3e3e6;
    border-bottom: none;
}

.webmin-header {
    background: #C95E3C;
    width: 100%;
    height: 15%;
}

.webmin-nav {
    background: #54748c;
    width: 100%;
    height: 7%;
}

.webmin-content-wrapper {
    background: #f0dfb9;
    width: 100%;
    height: 70%;
    border-left: 1px solid #3b4758;
    border-right: 1px solid #3b4758;
    padding: 1% 5%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 2%;
    justify-content: space-around;
}

.webmin-row {     
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 3%;
    justify-content: space-around;
    height: 30%;
}

.webmin-block {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 28%;
    height: 100%;
}

.webmin-footer {
    background: #674743;
    width: 100%;
    height: 8%;
}

