.andrey-popov-xyz-root {
    color: #3b4758;
    background: #f0dfb9;
    border: 2px solid #3b4758;
}

.andrey-popov-xyz-link:link, .andrey-popov-xyz-link:visited {
    color: #c95e3c;
}
.andrey-popov-xyz-link:hover {
    text-decoration: underline;
}

.andrey-popov-xyz-header {
    background: #C95E3C;
    color: white;
}

.andrey-popov-xyz-align-logo-sub {
}

.andrey-popov-xyz-footer {
    background: #674743;
}

.andrey-popov-xyz-subheader {
    background: #54748c;
    color: #e3e3e6;
    border-bottom: none;
}

.andrey-popov-xyz-title-wrapper {
}

.andrey-popov-xyz-content {
}

.andrey-popov-xyz-status {
}

.andrey-popov-xyz-dates {
}

.andrey-popov-xyz-dtes > div {
}

.andrey-popov-xyz-keywords {
}

.andrey-popov-xyz-keyword {
}

.andrey-popov-xyz-keyword:nth-child(2) {
}

.andrey-popov-xyz-download-apk, .andrey-popov-xyz-youtube-demo-link {
}


