.ashbourne-root {
    background: #eeeae1;
    color: #0e3c70;
    border-color: #476282;
    border-top: none;
}

.ashbourne-logo-wrapper {
    padding: 0;
}

.ashbourne-highlight-text {
    font-weight: bold;
    color: #0e3c70;
}

.ashbourne-lowlight-text {
    color: #476282;
}

.ashbourne-content {
    border-top-color: #476282;
}

.ashbourne-footer {
    background: #476282;
}
