.devops-cicd-root {
    color: #013c3d;
    background: linear-gradient(90deg, #b3f4f5, 1%, white, 81%, #b3f4f5);
    border: 2px solid #013c3d;
}

.devops-cicd-link:link, .devops-cicd-link:visited {
    color: #600270;
    text-decoration: underline;
}
.devops-cicd-link:hover {
    color: cyan;
}

.devops-cicd-header {
    background: linear-gradient(#28dce0 5%, #28a3a6);
    color: white;
}

.devops-cicd-footer {
    background: #7bd2d4;
}

.devops-cicd-subheader {
    background: #7bd2d4;
    padding-left: 0;
    border-bottom: none;
}

.devops-cicd-title-wrapper {
    padding-left: 1rem;
    margin-right: 2rem;
}
