.imperial-root {
    background: white;
    color: #003e74;
    border-color: #003e74;
}

.imperial-link:link, .imperial-link:visited {
    color: #003e74;
    text-decoration: underline; 
}
.imperial-link:hover {
    color: magenta;
}

.imperial-logo-wrapper {
    background: #003e74;
}

.imperial-highlight-text, .imperial-lowlight-text {
    color: #003e74;
}

.imperial-content {
    border-top-color: #003e74;
}

.imperial-footer {
    background: #003e74;
}
