.kcal-root {
    color: #33691E;
    border: 2px solid #33691E;
    background: linear-gradient(90deg, #d1f2d1, 1%, white, 79%, #d1f2d1);
}

.kcal-link:link, .kcal-link:visited {
    color: #33691E;
    text-decoration: underline;
}
.kcal-link:hover {
    color: magenta;
}

.kcal-header {
    background: #4CAF50;
    background: linear-gradient(#A5D6A7 10%, #4CAF50);
    color: white;
}

.kcal-footer {
    background: #A5D6A7;
}

.kcal-subheader {
    background: #A5D6A7;
    padding-left: 0;
    border-bottom: none;
}

.kcal-title-wrapper {
    padding-left: 1rem;
    margin-right: 2rem;
}
