.kcal-root {
    color: #33691E;
    background: white;
    border: 2px solid #33691E;
}

.kcal-header {
    background: #4CAF50;
    color: white;
}

.kcal-align-logo-sub {
}

.kcal-footer {
    background: #388E3C;
}

.kcal-subheader {
    padding-left: 0;
    background: #A5D6A7;
    border-bottom: 2px solid #711027;
}

.kcal-title-wrapper {
    padding-left: 1rem;
    margin-right: 2rem;
}

.kcal-status {
}

.kcal-dates {
}

.kcal-dtes > div {
}

.kcal-keywords {
}

.kcal-keyword {
}

.kcal-keyword:nth-child(2) {
    color: #0f0f0f;
}

.kcal-download-apk, .kcal-youtube-demo-link {
}
