.kcal-root {
    color: #33691E;
    background: #d1f2d1;
    border: 2px solid #33691E;
}

.kcal-link:link, .kcal-link:visited {
    color: #33691E;
    text-decoration: underline;
}
.kcal-link:hover {
    color: magenta;
}

.kcal-header {
    background: #4CAF50;
    background: linear-gradient(#A5D6A7 10%, #4CAF50);
    color: white;
}

.kcal-align-logo-sub {
}

.kcal-footer {
    background: #A5D6A7;
}

.kcal-subheader {
    background: #A5D6A7;
    padding-left: 0;
    border-bottom: none;
}

.kcal-title-wrapper {
    padding-left: 1rem;
    margin-right: 2rem;
}

.kcal-content {
    background: linear-gradient(90deg, #d1f2d1, 1%, white, 79%, #d1f2d1);
}

.kcal-status {
}

.kcal-dates {
}

.kcal-dtes > div {
}

.kcal-keywords {
}

.kcal-keyword {
}

.kcal-keyword:nth-child(2) {
    color: #0f0f0f;
}

.kcal-download-apk, .kcal-youtube-demo-link {
}


