.padavan-root {
    color: #e6e8ea;
    background: linear-gradient(#1e415e 10%, #2b5b84 50%, #e6e8ea 50% 100%); 
    border: 2px solid #570701;
}

.padavan-link:link, .padavan-link:visited {
    color: #2d618c;
    text-decoration: underline;
}
.padavan-link:hover {
    color: #ffd343;
    text-shadow: 0 0 10px #1e515e;
}

.padavan-header {
    background: linear-gradient(#3776ab 30%, #2d618c 95%);
    color: #ffd343;
}

.padavan-footer {
    background: linear-gradient(#3776ab 30%, #2d618c 95%);
}

.padavan-subheader {
    background: none;
    border-bottom: none;
}

.padavan-content {
    background: #e6e8ea;
    color: #2d618c;
}

