.repetitor-root {
    background: linear-gradient(-30deg, #b3eac2, white, white, #b1eff3);
    color: #282828;
    border-color: #476282;
}

.repetitor-header {
}

.repetitor-logo-wrapper {
    border-bottom: 1px solid #282828;
    background: #15b079;
}

.repetitor-logo-image {
}

.repetitor-highlight-text, .repetitor-lowlight-text {
    color: #d62d30;
}

.repetitor-dates {
}

.repetitor-content {
    border-top-color: #282828;
}

.repetitor-footer {
    border-top: 1px solid #282828;
    height: 1.5rem;
    width: 100%;
    background: #15b079;
}
