.sat-meng-root {
    background: white;
    color: black;
    border-color: black;
}

.sat-meng-header {
    padding: 2% 7.2%;
    /* background: #F4C9B9; */
    background: #002147;
}

.sat-meng-highlight-text {
    color: black;
}

.sat-meng-lowlight-text {
    color: black;
}

.sat-meng-content { 
    border-top-color: black;
}

.sat-meng-footer {
    background: black;
}
