.wellington-root {
    background: #fff;
    color: #0a0a0a;
    border-color: #0a0a0a;
}

.wellington-logo-wrapper {
    background: linear-gradient(90deg, #fff 0 27.3%, #f27d00 24% 100%);
    padding: 0;
}

.wellington-role-title {
    background: #f7d117;
    width: 61.8%;
}

.wellington-highlight-text {
    font-weight: bold;
    color: #f27d00;
}

.wellington-orange, .wellington-yellow, .wellington-cyan {
    font-size: 0.8rem;
    display: block;
    padding: 0px 6px;
    color: #0a0a0a;
}

.wellington-orange {
    background: #f27d00;
}


.wellington-yellow {
    background: #f7d117;
}

.wellington-cyan {
    background: #a6d6c9;
}

.wellington-lowlight-text {
    color: #0a0a0a;
}


.wellington-dates {
    width: 38.2%;
    color: #fff;
    background: #0a0a0a;
    row-gap: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0;
    flex-direction: column;
    align-items: stretch;
    align-content: flex-end;
}

.wellington-dates-part {
    width: 61.8%;
    text-align: right;
}

.wellington-dates-part > span, .wellington-dates-part > strong > span {
    padding-right: 0.60rem;
}

.wellington-content {
    border-top-color: #fff;
}

.wellington-footer {
    background: linear-gradient(90deg, #0a0a0a 0 38.2%, #a6d6c9 38.2% 100%);
}
