<!DOCTYPE html>
<html lang="en">
  <head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    {% block style %}{% endblock %}
  </head>
  <body>
    <header>
      {% block header %}
      {% endblock %}
    </header>
    <nav>
      <div class="base-title-holder">
        <h1>ANDREY POPOV</h1>
      </div>
      <div>
      </div>
      <div class="separator-h">
        <!---->
      </div>
    </nav>
    <div class="base-content-wrapper">
      {% block content %}
      {% endblock %}
    </div>
    <footer>
      {% block footer %}
      {% endblock %}
      <div class="base-contact-information-wrapper">
        <h2 class="base-contact-title">
          Contat Info:
        </h2>
        <div class="base-contact-details">
          <p>
            Tel: +44 7878 749173
          </p>
          <p>
            Emai: andr10xp@gmail.com
          </p>
          <p>
            <span>
              Linkedin:
            </span> 
            <a href="https://www.linkedin.com/in/andrey-popov-10x/">
              linkedin.com/in/andrey-popov-10x
            </a>
          </p>
          <p>
            Birthday: 31 October 1999
          </p>
        <div>
      </div>
    </footer>
  </body>
</html>
