<!DOCTYPE html>
<html lang="en">
  <head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <header class="base-green-block">
        <div class="base-homepage-link">
            <a href="/">Andrey Popov</a>
        </div>
        <div>
            {% block header %}
            {% endblock %}
        </div>
    </header>
    <h1>Welcome to My Website</h1>
    <img src="{{ url_for('static', filename='assets/tulpi.jpg') }}"/>
    <div class="base-content-wrapper">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        {% block footer %}
        {% endblock %}
    </footer>
  </body>
</html>
