{% extends 'base.html' %}

{% block title %}
  Andrey Popov
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='experiences/abstract_experience.css') }}">
  <!---->
  <link rel="stylesheet" href="{{ url_for('static', filename='experiences/minimaxlabs.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='experiences/imperial_ppt_uta.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='experiences/repetitor_ru.css') }}">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
  <h2>
    RESOURCES
  </h2>
  <div>

  </div>
  <div class="idx-cv-link-box">
    <p>
      <span>
        My resume can be found 
      </span>
      <a class="idx-cv-link" href="/cv">
        here
      </a>
    </p>
  </div>
  <h2>
    WORK EXPERIENCE
  </h2>
  <div class="idx-work-experiences">
    {% include './experiences/minimaxlabs.html' %}
    {% include './experiences/imperial_ppt_uta.html' %}
    {% include './experiences/repetitor_ru.html' %}
    {% include './experiences/abstract_experience.html' %}
  </div>
  <h2>
    EDUCATION
  </h2>
  <div class="idx-education">
    Coming soon...
  </div>
  <h2>
    RESEARCH
  </h2>
  <div class="idx-research">
    Coming soon...
  </div>
  <h2>
    ACADEMIC PROJECTS
  </h2>
  <div class="idx-academic-projects">
    Coming soon...
  </div>
  <h2>
    PET PROJECTS
  </h2>
  <div class="idx-pet-projects">
    Coming soon...
  </div>
  <h2>
    TUTEES
  </h2>
  <div class="idx-tutees">
    Coming soon...
  </div>
{% endblock %}

{% block footer %}
{% endblock %}

