{% extends 'base.html' %}

{% block title %}
  Andrey Popov
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css')  }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='experiences/abstract_experience.css')  }}">
  <!---->
  <link rel="stylesheet" href="{{ url_for('static', filename='experiences/minimaxlabs.css')  }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='experiences/imperial_ppt_uta.css')  }}">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
  <p>
    Sample Content here
  </p>
  <div class="idx-cv-link-box">
    <p>
      <span>
        My resume can be found 
      </span>
      <a class="idx-cv-link" href="/cv">
        here
      </a>
    </p>
  </div>
  <h2>
    WORK EXPERIENCE
  </h2>
  <div class="idx-work-experiences">
    {% include './experiences/minimaxlabs.html' %}
    {% include './experiences/imperial_ppt_uta.html' %}
  </div>
{% endblock %}

{% block footer %}
{% endblock %}

