{% extends 'base.html' %}

<!-- Scaling Extreme Startup branch  -->

{% block title %}
  Scaling Exteme Startup
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='articles/scaling_extreme_startup.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='experiences/abstract_project.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='experiences/extreme_startup.css') }}"/>
{% endblock %}

{% block header %}

  <div class="ses-overview-section">
    <h1>
      Scaling Extreme Startup
    </h1>
    <p>
      Welcome to the overview article about the Scaling Extreme Startup Project.
      Andrey Popov's view on the project.
      Feel free to contact me in case if you have ideas how to improve it.
    </p>
  </div>
  <div id="ses-card-wrapper">
    {% include 'experiences/abstract_project.html' %}
  </div>
  <div class="ses-block ses-intro">
    <h2>
      Scaling Extreme Startup Project
    </h2>
    <p class="ses-paragrath">
      Academic Project At Imperial College London. Part of a Computing year 3 course.
    </p>
    <h3>
      Project Supervisor
    </h3>
    <div class="ses-acknowledgement-row">
      <span>
        Dr Robert Chatley
      </span>
      <a class="ses-link" href="http://chatley.com/">
        Website-1
      </a>
      <a class="ses-link" href="https://www.doc.ic.ac.uk/~rbc/">
        Website-2
      </a>
    </div>
    <h3>
      Project Members
    </h3>
    <div class="ses-acknowledgement-row">
      <span>
        Andrey Popov (Me)
      </span>
    </div>
    <div class="ses-acknowledgement-row">
      <span>
        Mihhail Sorokin
      </span>
    </div>
    <div class="ses-acknowledgement-row">
      <span>
        Devendra Sethia
      </span>
    </div>
    <div class="ses-acknowledgement-row">
      <span>
        Oscar Velasco Newell Garcia
      </span>
    </div>
    <div class="ses-acknowledgement-row">
      <span>
        Jamie Todd
      </span>
    </div>
    <div class="ses-acknowledgement-row">
      <span>
        Jonathan Foo
      </span>
    </div>
  </div>

{% endblock %}

{% block content %}
  
  <div class="ses-article-root">
    <div class="ses-columns-section ses-what-is-extreme-startup">
      <div class="ses-column">
        <h2>
          What is Extreme Startup
        </h2>
        <img 
          class="ses-img ses-our-objectives-img"
          src="{{ 
            url_for(
              'static',
              filename='assets/articles/scaling_extreme_startup/what-is-extreme-startup.png'
            )
          }}"
        />
      </div>
      <div class="ses-column">
        <h2 class="ses-hidden">
          Extreme Startup
        </h2>
        <p>
          Extreme Startup is a coding exercise game, created by 
          <a class="ses-link" href="http://chatley.com/">
            Robert Chatley.
          </a>
          It is used in software engineering workshops and 
            the main goal of such games is to encourage developers to use CI/CD 
            by showing the benefits of quick-release iterations.
          During a workshop session the facilitator, 
            the game admin, 
            uses his computer to send HTTP requests with questions or riddles to players’ computers. 
          Participants should write code 
            that figures out how to solve the puzzles and sends HTTP responses back to the server. 
          Correct answers give points and incorrect answers or timeouts result in points deduction. 
          The key factor to succeed in that game is to set up a working deployment pipeline 
          that enables them to deploy new versions of their player application quickly. 
          The list of people who conducted Extreme Startup sessions can be found on the 
          <a class="ses-link" href="https://github.com/rchatley/extreme_startup">
            original repository's GitHub page.
          </a>
        </p>
      </div>
    </div>

    <div class="ses-columns-section ses-scaling-extreme-startup">
      <div class="ses-column">
        <h2>
          <span class="ses-highlight">
            Scaling
          </span> 
          <span>
            Extreme Startup
          </span>
        </h2>
        <p>
          Scaling Extreme Startup Project 
            is a recreation of the original game and an extension of its functionality,
            as well as an architecture behind it, 
            that enables it to scale horizontally and support an increased number of games on demand. 
          It is built in Python using Flask Web framework and React for the front end. 
          The app has been later enhanced with AWS technologies, 
            such as AWS Lambda, DynamoDB and Simple Queue Service. 
          The tool was developed as an Imperial College Computing Year 3 Software Engineering Project 
            by a team of six students. 
          The project has been successfully submitted and presented,
            as well as applied by Robert Chatley
              at the CI/CD workshop in the London office of 
              <a class="ses-link" href="https://country.db.com/uk/index">
                Deutsche Bank
              </a>
            and at Imperial College London.
          <!---->
        </p>
      </div>
      <div class="ses-column">
        <h2>
          Our Objectives
        </h2>
        <img 
          class="ses-img ses-our-objectives-img"
          src="{{ 
            url_for('static', filename='assets/articles/scaling_extreme_startup/our-objectives.png')
          }}"
        />
      </div>
    </div>
    <div class="ses-columns-section ses-extreme-extension">
      <div class="ses-column">
        <h2>
          Extreme Extension
        </h2>
        <img 
          class="ses-img ses-our-objectives-img"
          src="{{ 
            url_for(
              'static',
              filename='assets/articles/scaling_extreme_startup/front-end-and-backend-stack.png'
            )
          }}"
        />
        <div class="ses-image-description">
          <span>
            The figure above briefly shows the idea of separate apps for frontend and backend.
            Communication via HTTP requests in JSON formats enables independent implementation
              of the two software system components.
            <!---->
          </span>
        </div>
      </div>
      <div class="ses-column">
        <h2 class="ses-hidden">
          (Hidden) Extreme Extension
        </h2>
        <p>
          <span>
            The project itself was not just an extension, but a remaster.
            <a class="ses-link" ref="https://github.com/rchatley/extreme_startup">
              The original implementation
            </a>
            had been viable and was used in workshops already.
          </span>
          <span>
            However, the problem of the old version was the lack of convinience
              when running configurations and moderating the game.
            For instance, the Extreme Startup game includes a warmup round and then the actual game.
            In order to proceed to the first round of the game that follows the warmup,
              game facilitator had to restart the application with a different environment variable.
            There were also a lack of functionality for the admin and helpers to administer the game.
            The most important goal of the remaster was to address that problem.
            That was done by creating a Flask webserver application 
              that stored a game session details in its internal state
              and therefore it enabled users to pass the warmup and proceed to the first round.
            The app could aslo support multiple games as all objects now had unique identifiers.
          </span>
        </p>
      </div>
      <div class="ses-column">
        <h2>
          New UI and Features
        </h2>
        <p>
          Another way to address the convinience was modern approach to User Interfaces in Web.
          React App was used for the front end 
            and the user could communicate with the game via control elements
            such as buttons and switches.
          The communication between the two apps were achieved by Rest API.
          Front end app accessed the server with one of the permitted URL
            and added a JSON as a payload.
          Backend replied with a status code and response JSON.
          The JSON data got transformed and displayed in different UI elements.
          When it comes to the Visual components 
            there were a massive improvement compared to the previous minimalist design.
          <!---->  
        </p>
      </div>
      <div class="ses-column">
        <img 
          class="ses-img ses-bounded-image ses-homepage-sreenshot-img"
          src="{{ 
            url_for(
              'static',
              filename='assets/articles/scaling_extreme_startup/homepage-screenshot-wide.png'
            )
          }}"
        />
        <div class="ses-image-description">
          <span>
            A screenshot of the App homepage. 
            Interactive and engaging way to create or join a game with a fancy dark theme.
          </span>
        </div>
      </div>
      <div class="ses-column">
        <img 
          class="ses-img ses-bounded-image ses-our-objectives-img"
          src="{{ 
            url_for(
              'static',
              filename='assets/articles/scaling_extreme_startup/leaderboard-screenshot.png'
            )
          }}"
        />
        <div class="ses-image-description">
          <span>
            A screenshot from the game. Leaderboard is represented as a chart of scores against time.
            The green and red markers represent the correctness 
              of participants' answers to the requests.
            <!---->
          </span>
        </div>
      </div>
      <div class="ses-column">
        <p>
          The new version of the application has been modified and extended in various ways.
          First, the minimalist UI was replaced with a range of React and Mantine components 
            that enabled responsive design as well as easier control over visual appearance. 
          Second, the facilitator got admin features as well as the ability to add moderators. 
          A dashboard could show the players' assistance state and many more. 
          In addition, new updates made it possible to create games and choose settings, 
            add players without hardcoding or restarting the app with new environmental variables. 
          Finally, the game chart, the leaderboard line graph 
            that shows the score against time is fully recorded and 
            saved into a game report with different stats. 
          <!---->
        </p>
        <p>
          Overall, the application was enriched with new features 
            and new ideas were sparking frequently at different stages 
            and the only limitation of the extension was time.
          <!---->
        </p>
      </div>
    </div>
    <div class="ses-columns-section ses-extreme-monolith">
      <div class="ses-column">
        <h2>
          Extreme Monolith
        </h2>
        <p>
          The replication and extension stages 
            had an application deployed on a single server on one machine.
          The main disadvantages of such an approach 
            significantly affect the app’s usability and maintenance costs.
          Having a single point of failure, if a server goes down, all current game data is lost.
          That also implies that deploying new updates when games are played is impossible.
          Another disadvantage is that the usage rate of the application is not constant.
          When a game is played, many requests are made and a lot of computational power is required.
          Meanwhile, the app is not used at any workshop, 
            it is idle and the powerful CPU of a rented VPS is underutilised.
          That may lead to a problem when the game becomes popular.
          Which leads to the attractive option of migrating to the cloud.
        </p>
      </div>
      <div class="ses-column">
        <img 
          class="ses-img ses-our-objectives-img"
          src="{{ 
            url_for(
              'static', 
              filename='assets/articles/scaling_extreme_startup/architecture-bigger-picture.png'
            )
          }}"
        />
        <div class="ses-image-description">
          <span>
            An overview of the system components interaction and journey of game logic.
            The dashed boundary outlines the components that live in a server machine
              including the frontend that acts as a gateway.
            <!---->
          </span>
        </div>
      </div>
    </div>
    <div class="ses-columns-section ses-extreme-scaling">
      <div class="ses-column">
        <h2>
          Extreme Scaling
        </h2>
        <img 
          class="ses-img ses-aws-services-employed-img"
          src="{{ 
            url_for(
              'static', 
              filename='assets/articles/scaling_extreme_startup/aws-services-employed.png'
            )
          }}"
        />
        <div class="ses-image-description">
          <span>
            The figure above shows a list 
              of three main AWS services employed for the scaled version of Extreme Startup
            <!---->
          </span>
        </div>
      </div>
      <div class="ses-column">
        <h2 class="ses-hidden">
          Extreme Scaling (Hidden)
        </h2>
        <p>
          The scaling of such a project is achieved with such services as follows.
          Simple Queue Service receives messages and is used as a Schedule for the events 
            that invoke AWS Lambda 
            that handles it. 
          There are two main types of messages. 
          The first one is a player question event that requires sending the request,
            receiving an answer, 
            assigning a score, 
            and scheduling the next check, sending it to SQS.
          The second one is the monitor Lambda 
            which can stop further scheduling of player FaaS invocations
            that belong to a particular game session. 
          <!---->
        </p>
        <p>
          DynamoDB was used as a fast persistence storage 
            that contains the state of the games and supports many quick games. 
          The main reason for choosing DynamoDB is the speed and schema flexibility of NoSQL.
          It worked very well for games that included one hundred players,
            and the supporting evidence is the automated tests with simple bots with their entry points.
          <!---->
        </p>
      </div>
      <div class="ses-column">
        <h2>
          AWS Approach &mdash; Detailed Picture
        </h2>
        <p>
          The Flask server did not go, 
            but now became the initiator of FaaS computation and did not execute any game logic. 
          Only queried DynamoDB to give updates to the React App that the user sees. 
          That reduced the server’s responsibilities 
            and it enabled its redeployment during the game session.
          It has been successfully demonstrated in one of the weekly meetings of development team and project supervisor.
        </p>
        <p>
          The AWS Lambda computations persisted during the Flask server redeployment
            because once the game has been initialized it is maintained by AWS alone.
          It becomes read-only process that can be observed or killed by the host server.
        </p>
        <p>
          The core component,
            AWS Game Manager object,
            is the one that orchestrated the process of starting the game computations
            and queried the game state stored in DynamoDB.
          The two Question Factory components represent the shared code
            that lives on both Flask and AWS.
          Rate Controller is the object that makes sure 
            that the players who perform poorly get less requests as a part of market demand simulaion.
          It controls the duration of a delay until the next request.
          
        </p>
      </div>
      <div class="ses-column">
        <img 
          class="ses-img ses-scaled-architecture-img"
          src="{{ 
            url_for(
              'static',
              filename='assets/articles/scaling_extreme_startup/scaled-architecture.png'
            )
          }}"
        />
        <div class="ses-image-description">
          <span>
            An overview of the AWS enhanced scalable architecture.
            There are now two main areas.
            The gray box indicates the single core server that has minimized workload.
            The orange box indicates the main computation and storage that can scale on demand.
            <!---->
          </span>
        </div>
      </div>
    </div>
    <div class="ses-columns-section ses-live-tests">
      <div class="ses-column">
        <h2>
          Live Tests
        </h2>
        <img 
          class="ses-img ses-deutsche-bank-live-test-img"
          src="{{ 
            url_for(
              'static',
              filename='assets/articles/scaling_extreme_startup/deutsche-bank-live-test.png'
            )
          }}"
        />
      </div>
      <div class="ses-column">
        <h2 class="ses-hidden">
          (Hidden) Live Tests
        </h2>
        <p>
          Year 3 academic project went beyond the scope of assessment.
          It has been successfully applied in the United Kindom and United States.
          <span>
            The 
            <a>
              source code
            </a>
            of the project got published under GPL-3.0 License
              and anyone can host it and apply in their teaching.
            <!---->
          </span>
          There are two honorable mentions of demostrations that we are proud of. 
          As follows:
        </p>
        <h3>
          Duetsche Bank
        </h3>
        <p>
          The live test at Deutsche Bank was the first attempt to run the game with real players.
          Our team has been invited to the London office and it was an honor.
          Overall, the game session were successfull.
          A few bugs that were discovered during the game did not ruin the experience
            and were fixed afterwards.
        </p>
        <p>
          Participants learned from the game about importance of a good CI/CD pipeline.
          They saw advantage of the fast deploy to respond quickly and get more points in the game.
          Some particiants even managed to implement unit tests as a part of their pipeline.
          That prevented them from losing points after accidentally pushing new code
            that broke some cases.
          But the most important acomplishment was that people had a good time.
          <!---->
        </p>
      </div>
      <div class="ses-column">
        <h3>
          Imperial College London
        </h3>
        <p>
          Starting the new academic year after the project,
            Robert Chatley included Extreme Startup workshop into curriculum.
          The academic module is called Software Systems Engineering
            and it is a new course for MSc Computing.
          Me and other project members had a pleasure of moderating the game 
            and helping participants with the setup and the game experience.
          Many students enjoyed the experience and had fun.
          Unfortunatelly, a fire alarm interrupted the session,
            but participants came back to play.
          Luckily, Robert paused the game when it all started,
            which made me proud of us implementing that functionality.

          <!---->
        </p>
        <h3>
          Future of Extreme Startup
        </h3>
        <p>
          The project is alive and after live tests there were some feature suggestions.
          It might take some time for them to be implemented
            and with continuous feedback from future workshops there might be more to add or fix.
          There is no limit of getting better.
        </p>
      </div>
      <div class="ses-column">
        <img 
          class="ses-img ses-bounded-image ses-imperial-live-test-img"
          src="{{ 
            url_for(
              'static',
              filename='assets/articles/scaling_extreme_startup/imperial-live-test.jpg'
            )
          }}"
        />
      </div>
    </div>
    <div class="ses-my-extreme-contributions">
      <h2>
        My Extreme Contributions
      </h2>
      <p>
        As a team of equally experienced individuals,
          we had a shared leadership that had some downsides 
          but gave me a chance to take the first step. 
        I designed a REST API between the Backend and Frontend with my colleague Mihhail Sorokin. 
        I was responsible for the maintenance of the REST API spec and had to make sure i
          that Flask and React apps had proper communication. 
        As a result, when we split the work for the first two stages, Recreation and Extension, 
          I had mixed responsibilities of a ratio of 60:20:20 
          of Frontend, Testing and Backend respectively
          and whenever we had to extend the set of REST entry points,
          I was the person to update the pdf and send it to everyone. 
        In the latter stage of the project, Scaling, 
          I was the AWS account holder and implemented the Lambda as well as created a pipeline 
          that created a lambda archive in a way 
          that a common code could be shared between the Flask and AWS components. 
        Overall, I was pleased to be a part of the Scaling Extreme Startup Repository. 
        Key outcomes of the project include new React experience, 
          extended and tuned AWS management skills, 
          expanded my horizon in web development and learning how to work in a larger team of six.
        <!---->
      </p>
    </div>
    <div class="extreme-acknowledgements">
      <h2>
        Extreme Acknowledgements
      </h2>
      <p>
        Thank you, Oscar, Johnathan, Jamie, Mihhail, and Devendra for working with me 
          and thank you, Robert, 
          for giving us the opportunity to work on that project with invaluable practical components. 
        As an AWS account manager, 
          I am also glad that we managed to stay in a free AWS tier during the development process 
          (wink).
        <br/>
        <br/>
        Andrey Popov
        <br/>
        <br/>
        2022
      </p>
    </div>
  </div>
  <p>
    Thanks for reading the article.
    <a href="/">
      Return to the home page
    </a>
  </p>
{% endblock %}
