{% extends 'base.html' %}

{% block style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='experiences/abstract_project.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='experiences/extreme_startup.css') }}"/>
{% endblock %}

{% block content %}
  
  <div class="ses-article-root">
    <div style="max-width: 450px"> 
      {% include 'experiences/abstract_project.html' %}
    </div>
    <div class="ses-block ses-intro">
      <h2>
        Scaling Extreme Startup
      </h2>
      <p class="ses-paragrath">
        lorem ipsum...
        lorem ipsum...
        lorem ipsum...
        lorem ipsum...
        lorem ipsum...
        lorem ipsum...
        lorem ipsum...
        lorem ipsum...
        lorem ipsum...
        lorem ipsum...
        lorem ipsum...
        lorem ipsum...
        lorem ipsum...
        lorem ipsum...
        lorem ipsum...
        lorem ipsum...
        lorem ipsum...
        lorem ipsum...
        lorem ipsum...
        lorem ipsum...
        lorem ipsum...
        lorem ipsum...
        lorem ipsum...
        lorem ipsum...
      </p>
    </div>
    <div class="ses-block ses-acknowledgements">
      <h2>Project Supervisor</h2>
      <div class="ses-acknowledgement-row">
        <span>
          Dr Robert Chatley
        </span>
        <a class="ses-link" href="http://chatley.com/">
          Website-1
        </a>
        <a class="ses-link" href="https://www.doc.ic.ac.uk/~rbc/">
          Website-2
        </a>
      </div>
      <h2>Project Members</h2>
      <div class="ses-acknowledgement-row">
        <span>
          Andrey Popov
        </span>
      </div>
      <div class="ses-acknowledgement-row">
        <span>
          Mihhail Sorokin
        </span>
      </div>
      <div class="ses-acknowledgement-row">
        <span>
          Devendra Sethia
        </span>
      </div>
      <div class="ses-acknowledgement-row">
        <span>
          Oscar Velasco Newell Garcia
        </span>
      </div>
      <div class="ses-acknowledgement-row">
        <span>
          Jamie Todd
        </span>
      </div>
      <div class="ses-acknowledgement-row">
        <span>
          Jonathan Foo
        </span>
      </div>
    </div>

  </div>

{% endblock %}
